.stfolder
.stignore
.direnv

lazygit/.config/lazygit/state.yml
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/lazyvim.json
ncspot/.config/ncspot/userstate.cbor
niri/.config/niri/dms
noxdir/.noxdir/cache
superfile/.config/superfile/theme/
!superfile/.config/superfile/theme/catppuccin-frappe.toml
wezterm/.config/wezterm/colors/dank-theme.toml
yazi/.config/yazi/plugins
