# Inserts a blank line between shell prompts
add_newline = true

# Status line format
format = """
[](flamingo)\
$os\
$username\
$sudo\
[](fg:flamingo bg:sky)\
$directory\
[](fg:sky bg:green)\
$git_branch\
$git_status\
[](fg:green bg:yellow)\
$c\
$deno\
$java\
$lua\
$nim\
$nodejs\
$ruby\
$php\
$python\
[](fg:yellow bg:peach)\
$package\
[](fg:peach bg:lavender)\
$time\
$status\
[](fg:lavender)
$character\
"""

# Sets user-defined palette
# Palettes must be defined _after_ this line
palette = "catppuccin_frappe"

# Catppuccin palette
[palettes.catppuccin_frappe]
rosewater = "#f2d5cf"
flamingo = "#eebebe"
pink = "#f4b8e4"
mauve = "#ca9ee6"
red = "#e78284"
maroon = "#ea999c"
peach = "#ef9f76"
yellow = "#e5c890"
green = "#a6d189"
teal = "#81c8be"
sky = "#99d1db"
sapphire = "#85c1dc"
blue = "#8caaee"
lavender = "#babbf1"
text = "#c6d0f5"
subtext1 = "#b5bfe2"
subtext0 = "#a5adce"
overlay2 = "#949cbb"
overlay1 = "#838ba7"
overlay0 = "#737994"
surface2 = "#626880"
surface1 = "#51576d"
surface0 = "#414559"
base = "#303446"
mantle = "#292c3c"
crust = "#232634"

[os]
style = "fg:crust bg:flamingo"
disabled = false

[username]
show_always = true
style_user = "fg:crust bg:flamingo"
style_root = "fg:crust bg:flamingo"
format = '[$user]($style)'
disabled = false

[sudo]
disabled = false
symbol = " "
style = "fg:crust bg:flamingo"
format = '[$symbol]($style)'

[directory]
style = "fg:crust bg:sky bold"
format = "[$path]($style)"
truncation_length = 4
truncation_symbol = "…/"
truncate_to_repo = false

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
"~" = " "
# Keep in mind that the order matters. For example:
# "Important Documents" = " 󰈙 "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important 󰈙 " = " 󰈙 "

[git_branch]
symbol = ""
style = "fg:crust bg:green italic"
format = '[$symbol $branch]($style)'

[git_status]
style = "fg:crust bg:green italic"
format = '[$all_status$ahead_behind]($style)'

[c]
symbol = ""
style = "fg:crust bg:yellow"
format = '[$symbol $version]($style)'

[deno]
symbol = ""
style = "fg:crust bg:yellow"
format = '[$symbol $version]($style)'

[java]
symbol = ""
style = "fg:crust bg:yellow"
format = '[$symbol $version]($style)'

[php]
symbol = ""
style = "fg:crust bg:yellow"
format = '[$symbol $version]($style)'

[python]
symbol = ""
style = "fg:crust bg:yellow"
format = '[$symbol $version]($style)'

[lua]
symbol = ""
style = "fg:crust bg:yellow"
format = '[$symbol $version]($style)'

[nim]
symbol = "󰆥"
style = "fg:crust bg:yellow"
format = '[$symbol $version]($style)'

[nodejs]
symbol = ""
style = "fg:crust bg:yellow"
format = '[$symbol $version]($style)'

[ruby]
symbol = ""
style = "fg:crust bg:yellow"
format = '[$symbol $version]($style)'

[package]
symbol = "󰏗"
format = '[$symbol$version]($style)'
style = "fg:crust bg:peach"
#
# [docker_context]
# symbol = " "
# style = "bg:blue"
# format = '[ $symbol $context ]($style)'

[time]
disabled = false
time_format = "%R%P" # Hour:Minute Format
style = "fg:crust bg:lavender bold"
format = '[ $time]($style)'

[status]
format = "$symbol"
disabled = false
symbol = "[ 󰈺 ](fg:red bg:lavender)"
success_symbol = "[ 󰈺 ](fg:green bg:lavender)"

[character]
success_symbol = "[](teal) [I](bold fg:base bg:green)"
error_symbol = "[](teal) [I](bold fg:base bg:green)"
vimcmd_symbol = "[](teal) [N](bold fg:base bg:blue)"
vimcmd_visual_symbol = "[](teal) [V](bold fg:base bg:mauve)"
vimcmd_replace_one_symbol = "[](teal) [R](bold fg:base bg:red)"

# Other symbols
[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[aws]
symbol = "  "

[buf]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nix_shell]
symbol = " "

[ocaml]
symbol = " "

[perl]
symbol = " "

[pijul_channel]
symbol = " "

[rlang]
symbol = "󰟔 "

[rust]
symbol = ""

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "
