layer-rule {
    match namespace="^noctalia-wallpaper"
    place-within-backdrop true
}

window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

layer-rule {
    match namespace=r#"^noctalia-(bar-[^"]+|notification|dock|panel|attached-panel|osd)$"#
    background-effect {
        xray false
    }
}

layer-rule {
    match namespace="noctalia-window-switcher"
    background-effect {
        blur true
        xray false
    }
}

debug {
    honor-xdg-activation-with-invalid-serial
}

binds {
    Mod+Space { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+S { spawn-sh "noctalia msg panel-toggle control-center"; }
    Alt+Tab { spawn-sh "noctalia msg window-switcher"; }
    Mod+Shift+Comma { spawn-sh "noctalia msg settings-toggle"; }

    XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }

    XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
    Mod+Shift+Up allow-when-locked=true { spawn-sh "noctalia msg volume-up"; }

    XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
    Mod+Shift+Down allow-when-locked=true { spawn-sh "noctalia msg volume-down"; }

    XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
    Mod+Shift+Right allow-when-locked=true { spawn-sh "noctalia msg brightness-up"; }

    XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }
    Mod+Shift+Left allow-when-locked=true { spawn-sh "noctalia msg brightness-down"; }
}

spawn-at-startup "noctalia"
spawn-sh-at-startup "systemctl --user start plasma-kwallet-pam"
