@import "catppuccin-frappe.css";

* {
  font-family: "DejaVu Sans";
  font-size: 22px;
  color: @crust;
  border-radius: 12px;
}

window#waybar {
  background: alpha(@mantle, 0.5);
}

tooltip label {
  color: @text;
  border: 1px solid @mantle;
}

#workspaces button {
  background-color: alpha(@mauve, 0.4);
  margin: 2px;
}

#workspaces button:hover {
  background-color: alpha(@mauve, 0.85);
}

#workspaces button.active {
  background-color: @mauve;
}

#volume {
  color: @crust;
  background: @blue;
}

#brightness {
  background: @rosewater;
}

#pulseaudio-slider slider {
  background: @teal;
}
#backlight-slider slider {
  background: @maroon;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 90px;
  min-height: 14px;
  border-radius: 8px;
}

#pulseaudio-slider trough {
  background: @lavender;
}
#backlight-slider trough {
  background: @mauve;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
  border-radius: 8px;
}

#pulseaudio-slider highlight {
  background: @blue;
}
#backlight-slider highlight {
  background: @rosewater;
}

#window {
  margin: 2px 8px;
  padding: 0 8px;
  font-size: 28px;
  background: @sapphire;
}

window#waybar.empty #window {
  background: none;
}

#volume,
#brightness,
#network,
#system,
#temperature,
#power-profiles-daemon,
#battery,
#clock,
#custom-power {
  margin: 2px 2px;
  padding: 0 8px;
}

#network {
  background: @yellow;
}

#system {
  margin: 2px 0;
  background: @peach;
}

#cpu,
#memory,
#disk {
  margin: 0 3px;
}

#temperature {
  background: @red;
}

#power-profiles-daemon {
  background: @teal;
}

#battery {
  background: @green;
}

#clock {
  background: @lavender;
}

#custom-power {
  font-size: 28px;
  background: @maroon;
}
