@import "catppuccin-frappe.css";

@define-color shade_0 mix(@crust, @lavender, 0.5);
@define-color shade_1 mix(@crust, @lavender, 0.4);
@define-color shade_2 mix(@crust, @lavender, 0.3);
@define-color shade_3 mix(@crust, @lavender, 0.2);

* {
  font-family: "Maple Mono", "Symbols Nerd Font";
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 0;
  border-radius: 0;
}

window#waybar {
  background: @base;
}

#workspaces,
#taskbar,
#tray {
  background: @surface1;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#system,
#clock {
  background: @shade_0;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#network,
#pulseaudio {
  background: @shade_1;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#bluetooth,
#custom-weather {
  background: @shade_2;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#backlight,
#mobile-power {
  background: @shade_3;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#custom-launcher,
#custom-power {
  color: @mantle;
  font-size: 1.5em;
  border-top: 2px solid @base;
  border-bottom: 2px solid @base;
}

#custom-launcher {
  background: @blue;
}

#custom-power {
  background: @red;
  padding-right: 8px;
}

#workspaces button {
  color: @teal;
  margin: 0 4px;
}

#taskbar button {
  padding: 0 6px;
}

#taskbar button:hover {
  background: @overlay1;
}

#taskbar button.active {
  background: @overlay0;
}

#mpris {
  color: @green;
}

#window {
  padding-left: 8px;
  background: @lavender;
  color: @mantle;
  border-top: 2px solid @base;
  border-bottom: 2px solid @base;
}

window#waybar.empty #window {
  background: none;
  border: none;
}

#backlight {
  color: @flamingo;
}

#pulseaudio {
  color: @yellow;
}

#network {
  color: @green;
}

#bluetooth {
  color: @blue;
}

#custom-weather {
  color: @mauve;
}

#cpu,
#memory,
#disk {
  color: @maroon;
}

#power-profiles-daemon,
#battery {
  color: @peach;
}

#clock {
  color: @sky;
}

#custom-left-arrow-foreground,
#custom-right-arrow-foreground,
#custom-left-arrow-background,
#custom-right-arrow-background,
#custom-left-arrow-foreground-shade-0,
#custom-right-arrow-foreground-shade-0,
#custom-left-arrow-background-shade-0,
#custom-right-arrow-background-shade-0,
#custom-left-arrow-foreground-shade-1,
#custom-right-arrow-foreground-shade-1,
#custom-left-arrow-background-shade-1,
#custom-right-arrow-background-shade-1,
#custom-left-arrow-foreground-shade-2,
#custom-right-arrow-foreground-shade-2,
#custom-left-arrow-background-shade-2,
#custom-right-arrow-background-shade-2,
#custom-left-arrow-foreground-shade-3,
#custom-right-arrow-foreground-shade-3,
#custom-left-arrow-background-shade-3,
#custom-right-arrow-background-shade-3,
#custom-launcher-arrow-left,
#custom-launcher-arrow-right,
#custom-window-arrow-foreground,
#custom-power-arrow-foreground {
  font-size: 1.5em;
}

#custom-left-arrow-foreground,
#custom-right-arrow-foreground {
  background: @base;
  color: @surface1;
}

#custom-left-arrow-background,
#custom-right-arrow-background {
  background: @surface1;
  color: @base;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#custom-left-arrow-foreground-shade-0,
#custom-right-arrow-foreground-shade-0 {
  background: @base;
  color: @shade_0;
}

#custom-left-arrow-background-shade-0,
#custom-right-arrow-background-shade-0 {
  background: @shade_0;
  color: @base;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#custom-left-arrow-foreground-shade-1,
#custom-right-arrow-foreground-shade-1 {
  background: @base;
  color: @shade_1;
}

#custom-left-arrow-background-shade-1,
#custom-right-arrow-background-shade-1 {
  background: @shade_1;
  color: @base;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#custom-left-arrow-foreground-shade-2,
#custom-right-arrow-foreground-shade-2 {
  background: @base;
  color: @shade_2;
}

#custom-left-arrow-background-shade-2,
#custom-right-arrow-background-shade-2 {
  background: @shade_2;
  color: @base;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#custom-left-arrow-foreground-shade-3,
#custom-right-arrow-foreground-shade-3 {
  background: @base;
  color: @shade_3;
}

#custom-left-arrow-background-shade-3,
#custom-right-arrow-background-shade-3 {
  background: @shade_3;
  color: @base;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#custom-launcher-arrow-left,
#custom-launcher-arrow-right {
  background: @base;
  color: @blue;
}

#custom-window-arrow-foreground {
  background: @base;
  color: @lavender;
}

#custom-power-arrow-foreground {
  background: @base;
  color: @red;
}
