@import "catppuccin-frappe.css";

* {
  font-family: "Maple Mono", "Symbols Nerd Font";
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 0;
  border-radius: 0;
}

window#waybar {
  background: @base;
}

#workspaces,
#taskbar,
#mpris,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#custom-weather,
#system,
#mobile-power,
#clock {
  background: @surface0;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#custom-launcher-arrow-left,
#custom-launcher-arrow-right,
#custom-launcher,
#custom-right-arrow-dark,
#custom-left-arrow-dark,
#custom-right-arrow-light,
#custom-left-arrow-light,
#custom-left-window-arrow-left,
#custom-left-window-arrow-right,
#custom-center-window-arrow-left,
#custom-center-window-arrow-right,
#custom-power-arrow-left,
#custom-power-arrow-right,
#custom-power {
  font-size: 1.5em;
}

#custom-launcher-arrow-left,
#custom-launcher-arrow-right {
  background: @base;
  color: @blue;
}

#custom-launcher {
  background: @blue;
  color: @mantle;
  border-top: 2px solid @base;
  border-bottom: 2px solid @base;
}

#workspaces button {
  color: @teal;
  margin: 0 4px;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  background: @surface0;
  color: @base;
  border-top: 2px solid @base;
  border-bottom: 2px solid @lavender;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
  background: @base;
  color: @surface0;
}

#taskbar button {
  padding: 0 6px;
}

#taskbar button:hover {
  background: alpha(@lavender, 0.3);
}

#taskbar button.active {
  background: alpha(@lavender, 0.75);
}

#mpris {
  color: @green;
}

#custom-left-window-arrow-left {
  background: @lavender;
  color: @base;
  border-top: 2px solid @base;
  border-bottom: 2px solid @base;
}

#custom-left-window-arrow-right {
  background: @base;
  color: @lavender;
  border-top: 2px solid @base;
  border-bottom: 2px solid @base;
}

#custom-center-window-arrow-left,
#custom-center-window-arrow-right {
  background: @base;
  color: @lavender;
  border-top: 2px solid @base;
  border-bottom: 2px solid @base;
}

#window {
  background: @lavender;
  color: @mantle;
  border-top: 2px solid @base;
  border-bottom: 2px solid @base;
}

window#waybar.empty #window {
  background: none;
  border: none;
}

#backlight {
  color: @flamingo;
}

#pulseaudio {
  color: @yellow;
}

#network {
  color: @green;
}

#bluetooth {
  color: @blue;
}

#custom-weather {
  color: @rosewater;
}

#cpu,
#memory,
#disk {
  color: @mauve;
}

#power-profiles-daemon,
#battery {
  color: @peach;
}

#clock {
  color: @sky;
}

#custom-power-arrow-left,
#custom-power-arrow-right {
  background: @base;
  color: @red;
  border-top: 2px solid @base;
  border-bottom: 2px solid @base;
}

#custom-power {
  background: @red;
  color: @mantle;
  border-top: 2px solid @base;
  border-bottom: 2px solid @base;
}
